.hor {display:inline}
.align{text-align: center;}
.central{max-width: 50%;margin: auto}

html {background-color: lavender;; background-repeat:round; background-size: 50%;}
body { font-family: Verdana, Geneva, Tahoma, sans-serif;}
