.central{max-width: 50%;margin: auto}
html {}
body {background-color: lavender; font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {text-align: center;}
nav li {font-size: large; padding: 50px; text-align: center; list-style: none;}

nav li :hover{background-color: rgb(47, 79, 79, 0.5);}


