body {
  font-family: Arial;
  margin: 0;
  top-spacing: 100px;
}

/*margin auto pra centralizar*/
.container {
  width: 50%;
  margin: auto;
  text-align: justify;
}

h1 {text-align:center}

/*para fazer o link não ser azul e com underline*/
a {
    color: white;
    text-decoration: none;
}

.top {padding-top:14em}
.bot {padding-bottom:7em}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  background: royalblue;
  color: white;
  font-size: large;
}

.sidestuff {
  text-align: right; right:0%; margin:auto;
}

.header a {
  margin-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  background: royalblue;
  color: white;
  font-size: large;
}

